*{
    font-family: 'Ubuntu', sans-serif;
}
header, footer {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: black;
}
header{
    top: 0px;
}
body{
    background-image: url(./imgs/geneva-gloval-website-hero-design.jpg);
    background-repeat: none;
    background-size: cover;
}

footer{
    display: none;
    bottom: 0px;
}
/*.main-container{
    position: relative;
}*/
/* Creates a container for user input buttons*/
.user-options-container{
    position: relative;
    width: 1000px;
    height: 30px;
    background-color: none;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
/* User and contact options */
.user-info, .contact-me{
    position: absolute;
    width: 400px;
    height: 30px;
    background-color: cornflowerblue;    
    text-align: center;
    line-height: 0px;
    display: none;
    
}
.contact-me{
    right: 0px;
}

/* Area for the user input section */
form{
    
    width: 1000px;
    height: 400px;
    background-color:rgb(219, 219, 219, 0.85);


}
.input-container{
    width: 1000px;
    height: 400px;
    background-color: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;    
}